<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">


	<!-- <bean id="stockStateService" class="com.jd.sns.biz.api.service.impl.StockStateServiceImpl"> 
		<property name="seed" value="123456"/> <property name="content" value="token"/> 
		</bean> -->


</beans>