<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache, must-revalidate" />
    	<meta http-equiv="expires" content="0" />
        <title>热销商品</title>
        <link href="/style/erpstyle.css"rel="stylesheet" type="text/css" />
        <script language="javascript" src="/js/jquery-1.6.2.min.js"></script>
        <script language="javascript" src="/js/erpstyle1.js"></script>
        <script language="javascript" src="/js/common.js"></script>
    </head>
    <body>


<div class="box"></div><!--标题区开始-->
<div class="title1">
<div class="left">
<div class="title_gl">热销商品</div>
<div class="title_fbt"></div>
<div class="bh"></div>
</div>
<div class="right">
<div class="zt"></span></div>
</div>
</div>
<!--标题区结束-->
<div style="height: 10px;"></div>

<form id="f1" name="f1" method="post" >
<div class="panel_search"><!--属性编辑区开始-->
<table border="0" cellpadding="0" cellspacing="2"style="width:1100px;">
	<tr>
		<td style="font-weight: bold; width: 100px" align="right">添加图片</td>
	</tr>
	<tr>
		<td align="right" style="width: 100px" >热销商品名称：</td>
		<td align="left" style="width: 100px">
			<input type="text" id="sellName" name = "sellName" value="" style="width:100px" />
		</td>
		<td align="right" style="width: 100px" >商品id：</td>
		<td align="left" style="width: 100px">
			<input type="text" id="itemId" name = "itemId" value="" style="width:100px" />
		</td>
		<td></td>
		<td align="right" style="width: 100px">排序：</td>
		<td align="left" style="width:100px">
			<input type="text" id="sortNum" name = "sortNum" value="" style="width: 100px" /></td>
		<td><span id="skuName"> </span></td>
		</tr>
	<tr>
		<td align="right" style="width: 100px">选择图片：</td>
		<td align="left"  style="width: 100px" >
			<input id="image1" type="file" name="image1" value="浏览"/>
		</td>
	    <td align="right"   style="width: 150px" >
	    	<input type="button" id="btupload1" value="上传"/><span id="spUpload1"></span>
		</td>
	</tr>
	<tr>
		<td align="right" style="width: 100px"></td>
		<td style="width: 200px"><input type="button" id="addIndexImage"
			value="发布商品" /></td>
	</tr>
</table>
<input type="hidden" id="imageUrl1" name="sellImgUrl" value="" />
</div>
</form>
<!--查询区结束-->
<div class="panel_search1"><!--查询区开始-->
<table style="border-collapse: collapse;" id="propertyTH">
	<tr>
		<td style="font-weight: bold;" align="left" colspan="8">已添加的商品图
		</td>
	</tr>
</table>
<table style="border-collapse: collapse;" id="propertyTab" width="100%"></table>
</div>
<br/>
<!--盒子结束-->
<script language="javascript" src="$assetModule.getTarget("/My97DatePicker/WdatePicker.js")"></script>
<script language="javascript" src="/js/appimage/appimagesellJS.js"></script>
<script language="javascript" src="$assetModule.getTarget("/js/ajaxfileupload.js")"></script>
<script language="javascript" src="$assetModule.getTarget("/js/jquery.showLoading.js")"></script>


<script type="text/javascript" >
//初始化页面
$(document).ready(function(){
	$.ajax( {
		url : "/appimagesell/getIndexImage",
		type : "post",
		dataType : "json",
		data : "categoryId="+$("#categoryId2").val(),
		success : function(data) {
			if (data.success == "success") {
					$("#propertyTH").show();
					$("#propertyTab").empty();	
					$("#propertyTab").append(	"<tr style='font-weight: bold;'>"+
							"<th class='tdgoods' style='width: 100px' >图片名称</th>"+
							"<th class='tdgoods' style='width: 100px'>商品名称</th>"+
							"<th class='tdgoods' style='width: 100px'>skuId</th>"+
							"<th class='tdgoods' style='width: 100px'>图片链接</th>"+
							"<th class='tdgoods' style='width: 100px'>图片</th>"+
							"<th class='tdgoods' style='width: 100px'>排序</th>"+
							"<th class='tdgoods' style='width: 100px'>操作</th></tr>");
					var indexImageList=data.indexSellItemList;
					for(var i=0; i<indexImageList.length; i++){
						var indexImage=indexImageList[i];
						//动态添加属性值区
						$("#propertyTab").append(
								"<tr id='" + indexImage.sortNum + "'><td class='tdgoods' style='width: 100px'>" + indexImage.sellName + 
								"</td><td class='tdgoods' style='width: 100px'>" + indexImage.item.itemName
										+ "</td><td class='tdgoods' style='width: 100px'>" + indexImage.skuId
										+ "</td><td class='tdgoods' style='width: 100px'>" + indexImage.sellImgUrl
										+ "</td><td class='tdgoods' style='width: 100px'> <img src='"+indexImage.sellImgUrl+"' width='60' height='60' alt='图片' /> " 
										+ "</td><td class='tdgoods' style='width: 100px'> <input style='width: 50px' type='text' name='sortNum' id='sortNum_"+indexImage.id+"' value='"+indexImage.sortNum+"' />"
										+ "<td class='tdgoods' style='width: 100px'>"+
										"<a id='"+indexImage.id+"' href='javascript:void(0)' onclick='removePbss(this);'>删除</a>"
										+"&nbsp&nbsp&nbsp<a id='"+indexImage.id+"' href='javascript:void(0)' onclick='modifyNum(this);'>修改序号</a></td></tr>");
						
					}
			} else {
				alert(data.msg);
			}
		},
		errot : function() {
			alert("系统超时！");
		}
		});
	});
</script>
</body>
</html>