<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache, must-revalidate" />
    	<meta http-equiv="expires" content="0" />
        <title>热搜词管理页面</title>
        <link href="/style/erpstyle.css"rel="stylesheet" type="text/css" />
        <script language="javascript" src="/js/jquery-1.6.2.min.js"></script>
        <script language="javascript" src="/js/erpstyle1.js"></script>
        <script language="javascript" src="/js/common.js"></script>
    </head>
    <body>

<form id="f1" name="f1" method="post" >
<div class="box"><!--标题区开始-->
<div class="title1">
<div class="left">
<div class="title_gl">增加热搜词</div>
<div class="title_fbt"></div>
<div class="bh"></div>
</div>
<div class="right">
<div class="zt"></span></div>
</div>
</div>
<!--标题区结束-->
<div style="height: 10px;"></div>


<div class="panel_search1"><!--属性编辑区开始-->
<table>
	<tr>
		<td style="font-weight: bold; width: 100px" align="right">热搜词配置</td>
	</tr>
	<tr>

		<td align="right" style="width: 100px">热搜词名称：</td>
		<td style="width: 200px">
		<input type="text" id="hotwordName" name="hotwordName" value="" style="width: 200px" /></td>
		
		<td align="right" style="width: 100px">排序：</td>
		<td style="width: 200px">
		<input type="text" id="sortNum" name="sortNum" value=""  style="width: 100px" /></td>

		<td></td>
	</tr>
<!-- 	<tr> -->
<!-- 		<td align="right" style="width: 100px" >*销售属性值：</td> -->
<!-- 		<td style="width: 200px"> -->
<!-- 		<input type="text" id="propertyValueName" name = "propertyValueName" value="$!{propertyValue.propertyName}" style="width: 200px" /></td> -->
<!-- 		<td align="right" style="width: 100px">*排序：</td> -->
<!-- 		<td style="width: 200px"> -->
<!-- 			<input type="text" id="sortNumber" name = "sortNumber" value="$!{propertyValue.sortNumber}" style="width: 200px" /></td> -->
<!-- 		<td><span id="skuName"> </span></td> -->
<!-- 		<td></td> -->
<!-- 	</tr> -->
	<tr>
		<td align="right" style="width: 100px"></td>
		<td style="width: 200px"><input type="button" id="addProVal"
			value="添加" /></td>
	</tr>
</table>
<!--查询区结束--></div>
<div class="panel_search1"><!--查询区开始-->
<table style="border-collapse: collapse;" id="propertyTH">
	<tr>
		<td style="font-weight: bold;" align="left" colspan="8">最近热搜

		</td>
	</tr><!--
	<tr style="font-weight: bold;">
		<td class="tdgoods" style="width: 100px" >一级分类</td>
		<td class="tdgoods" style="width: 100px">二级分类</td>
		<td class="tdgoods" style="width: 100px" >三级分类</td>
		<td class="tdgoods" style="width: 100px">四级分类</td>
		<td class="tdgoods" style="width: 100px">属性值</td>
		<td class="tdgoods" style="width: 100px">排序</td>
		<td class="tdgoods" style="width: 60px">操作</td>
	</tr>
--></table>
<table style="border-collapse: collapse;" id="propertyTab">

</table>
<!--查询区结束--></div>
<br />
<input type="hidden" id="ifHaveProperty" name="ifHaveProperty" value="" />
<input type="hidden" id="propertyId" name="propertyId" value="" />
</form>
<!--盒子结束-->
<script language="javascript" src="$assetModule.getTarget("/My97DatePicker/WdatePicker.js")"></script>
<!-- <script language="javascript" src="$assetModule.getTarget("/js/operation/operation.js") "></script> -->
<script language="javascript" src="/js/operation/operation.js"></script>


<script langusge="javascript" >
//初始化页面
$(document).ready(function(){

	jQuery.ajax( {
				url : "/operation/getHotwords",
				type : "post",
				dataType : "json",
				data : "",
				success : function(data) {
					if (data.msg == "success") {
							$("#propertyTH").show();
							$("#propertyTab").empty();
							var propertyValueList=data.hotwordsList;
							//properId存放在页面上
							$("#propertyId").val(propertyValueList[0].propertyId);
							
							$("#propertyTab").append(	"<tr style='font-weight: bold;'>"+
									"<th class='tdgoods' style='width: 100px' >热搜词名</th>"+
									"<th class='tdgoods' style='width: 100px'>优先级排序</th>"+
									"<th class='tdgoods' style='width: 100px' >操作</th>");
							for(var i=0; i<propertyValueList.length; i++){
								var property=propertyValueList[i];
								
								//动态添加属性值区
								
								$("#propertyTab").append(
										"<tr><td class='tdgoods' style='width: 100px'>" + property.hotwordName + 
										"</td><td class='tdgoods' style='width: 100px'>" + property.sortNum
												+ "<td class='tdgoods' style='width: 60px'>"+
												"<a id='"+property.id+"' href='javascript:void(0)' onclick='removePbss(this);'>删除</a></td></tr>");
								
							}
						}

				},
				errot : function() {
					alert("系统超时！");
				}
		});



	
	});
</script>
</body>
</html>