<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache, must-revalidate" />
    	<meta http-equiv="expires" content="0" />
        <title>管理页面</title>
        <link href="/style/erpstyle.css"rel="stylesheet" type="text/css" />
        <script language="javascript" src="/js/jquery-1.6.2.min.js"></script>
        <script language="javascript" src="/js/erpstyle1.js"></script>
        <script language="javascript" src="/js/common.js"></script>
    </head>
    <body>

<form id="f1" name="f1" method="post" >
<div class="box"><!--标题区开始-->
<div class="title1">
<div class="left">
<div class="title_gl">银行信息</div>
<div class="title_fbt"></div>
<div class="bh"></div>
</div>
<div class="right">
<div class="zt"></span></div>
</div>
</div>
<!--标题区结束-->
<div style="height: 10px;"></div>

<!--扩展信息区开始-->
<div class="panel_search1">
<table><!--
	<tr>
		<td style="font-weight: bold; width: 100px" align="right">录入验证银行信息</td>
	</tr>
	--><tr>
		<td align="right" style="width: 200px">*银行开户名：</td>
		<td>
			#if($!{businessUserExt.bankStatus}==1)
			<input type="text" name="bank" id="bank" value="$!{businessUserExt.bank}" style="width: 250px" readonly="true"/>
			#else
			<input type="text" name="bank" id="bank" value="$!{businessUserExt.bank}" style="width: 250px"  />
			#end
		</td>
		<td align="right" style="width: 200px">*公司银行账号：</td>
		<td>
			#if($!{businessUserExt.bankStatus}==1)
			<input type="text" name="bankAc" id="bankAc" value="$!{businessUserExt.bankAc}" style="width: 250px" readonly="true"/>
			#else
			<input type="text" name="bankAc" id="bankAc" value="$!{businessUserExt.bankAc}" style="width: 250px" />
			#end
		</td>
	</tr>
	<tr>
		<td align="right" style="width: 200px">*开户银行支行名称：</td>
		<td>
			#if($!{businessUserExt.bankStatus}==1)
			<input type="text" name="branch" id="branch" value="$!{businessUserExt.branch}" style="width: 250px" readonly="true"/>
			#else
			<input type="text" name="branch" id="branch" value="$!{businessUserExt.branch}" style="width: 250px" />
			#end			
		</td>
		<td align="right" style="width: 200px">支行联行号：</td>
		<td>
			#if($!{businessUserExt.bankStatus}==1)
			<input type="text" name="CNAPSCode" id="CNAPSCode" value="$!{businessUserExt.CNAPSCode}" style="width: 250px" readonly="true"/>
			#else
			<input type="text" name="CNAPSCode" id="CNAPSCode" value="$!{businessUserExt.CNAPSCode}" style="width: 250px" />
			#end
		</td>
	</tr>
	<tr>
		<td align="right" style="width: 200px">*开户银行所在地：</td>
		<td style="width: 250px">
			#if($!{businessUserExt.bankStatus}==1)
			<input type="text" name="bankProvince" id="bankProvince" value="$!{businessUserExt.bankProvince}" style="width: 250px" readonly="true"/>&nbsp;
			#else
			<input type="text" name="bankProvince" id="bankProvince" value="$!{businessUserExt.bankProvince}" style="width: 250px" />&nbsp;
			#end
		</td><!--
		<td style="width: 150px">
			<input type="text" name="bankCity" id="bankCity" value="$!{businessUserExt.bankCity}" style="width: 100px" />&nbsp;（例：10千克）
		</td>
		-->
	</tr>

	<tr>
		<td align="right" style="width: 200px">申请时间：</td>
		<td>
			$!dateFormatUtils.format($!{businessUserExt.bankCreated},"yyyy-MM-dd hh:mm:ss")
		</td>
		<td align="right" style="width: 200px">验证时间：</td>
		<td>
		$!dateFormatUtils.format($!{businessUserExt.bankChecked},"yyyy-MM-dd hh:mm:ss")
		</td>
	</tr>
		<tr>
		<td align="right" style="width: 200px">状态：</td>
		<td>
		#if($!{businessUserExt.bankStatus}==1)
		审核通过
		#elseif($!{businessUserExt.bankStatus}==2)
		审核不通过
		#elseif($!{businessUserExt.bankStatus}==0)
		未审核
		#end
		</td>
	</tr>
	</table>
</div>

<input type="hidden" id="userId" name="userId" value="$!{businessUserExt.userId}" />
<!--销售属性区结束-->
		#if($!{businessUserExt.bankStatus}!=1)
		<input type="button" id="subButton" value="修改" style="position: absolute; left: 50%; width: 100px;" />
		#end



</form>
<!--盒子结束-->
 <script language="javascript" src="$assetModule.getTarget("/My97DatePicker/WdatePicker.js")"></script>
<script language="javascript" src="$assetModule.getTarget("/js/user/bankJS.js")"></script>
<script language="javascript" src="$assetModule.getTarget("/js/ajaxfileupload.js")"></script>
<script language="javascript" src="$assetModule.getTarget("/js/jquery.showLoading.js")"></script>


<script type="text/javascript" src="/js/xheditor-zh-cn.min.js"></script>


<script langusge="javascript" >



//初始化页面
$(document).ready(function(){


	
	});
</script>

</body>
</html>