    <div class="box">
           <div class="title">
				线下支付
           </div>
		   
           <div class="panel_form">
				<table width="100%" cellspacing="0" cellpadding="0" border="0" id="ctl00_CPform_tab_userinfo">
					<tbody>
                    	<tr>
                    		<td class="TdLabel"><div align="right">订单编号：</div></td>
                    		<td width="78%" align="left" colspan="10" class="TdValue">
                    			<input type="text" id="orderiId" value="$!orderId" readonly="readonly" />
                    		</td>
                    	</tr>
                    	<tr>
                    		<td class="TdLabel"><div align="right">支付时间：</div></td>
                    		<td width="78%" align="left" colspan="10" class="TdValue">
                    			<input type="text" id="payTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                    		</td>
                    	</tr>
                    	<tr>
                    		<td class="TdLabel"><div align="right">银行转账流水单号：</div></td>
                    		<td width="78%" align="left" colspan="10" class="TdValue">
                    			<input type="text"  id="paymentNumber" value="" style="width: 200px;"/>
                    		</td>
                    	</tr>
                    	<tr>
                    		<td class="TdLabel"><div align="right"></div></td>
                    		<td width="78%" align="left" colspan="10" class="TdValue">
                    			<input type="button" value="确认收款" onclick="confirmMoney($!orderId);">&nbsp;&nbsp;&nbsp;&nbsp;
                    			<input type="button" value="取消" onclick="$.modal.close();">
                    		</td>
                    	</tr>
                	</tbody>
				</table>
		   </div>
	</div>

	<script type="text/javascript">
		function confirmMoney(orderId){
			var paymentNumber = $("#paymentNumber").val();
			var payTime = $("#payTime").val();
			if(payTime == ""){
				alert("支付时间不能为空");
				return;
			}
			if(paymentNumber == ""){
				alert("银行转账流水单号不能为空");
				return;
			}
			$.ajax({
				type : "post",
		    	url : "/orderInfo/confirmMoney",
		    	data : {orderId:orderId,paymentNumber:paymentNumber,payTime:payTime},
		    	contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
		    	dataType: "json", 
		    	success : function(data) {
		    		if(data.success){
		    			alert("支付成功！");
		    		}else{
		    			alert(data.message);
		    		}
		    		window.location.reload();
		    	}
			});
		};
	</script>
